.listItem{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.list{
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.par-log{
  font-size: 90%;
  line-height: 10%;
}
